# Ignore local class materials
class_materials/
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore environment files
.env

# System cache files
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.Rhistory

# Ignore data files but keep directory structure
data/*

# Secret Environment Variables
.env
